body{
    background-image: url("https://img.freepik.com/premium-photo/colorful-various-herbs-spices-cooking-dark-background_370312-476.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1696377600&semt=ais");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;

}
