body{
    background-image: url("https://e7.pngegg.com/pngimages/736/269/png-clipart-food-background-food-fruit.png ");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;

}
