body{
    background-image: url("https://st2.depositphotos.com/1013886/5744/i/450/depositphotos_57444181-Healthy-food-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;

}
